.hidden {
    display: none;
}

.text-message {
    text-align: center;
    font-family: sans-serif;
    color: #000;
    font-size: 60px;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
    position: absolute;
    top: 50%;
    width: 100%;
    opacity: 0;

}


.text-message.show {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}